.login-header {
    padding: 7px 80px !important;
}

.login-header {
    border-bottom: 1px solid #ced4da;
    display: flex;
    align-content: center;
    background: #fff;
    padding: 10px 30px;
    height: 56px;
}

.center-header {
    flex: 1;
}

div {
    display: block;
}

.brand-logo {
    display: flex;
}

.uk-link, a {
    color: #787ff6;
    text-decoration: none;
    cursor: pointer;
}

.uk-link, a {
    color: #1e87f0;
    text-decoration: none;
    cursor: pointer;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.brand-logo img {
    height: 40px;
    width: auto !important;
    margin-right: 10px;
}

.login-logo img {
    width: 110px;
}

canvas, img, video {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

img {
    vertical-align: middle;
    border-style: none;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

element.style {
    font-family: arial;
    margin: 10px 0;
}

h1 {
    font-size: 23px;
    margin: 5px 0;
    font-family: serif;
    padding: 0 0;
    display: flex;
    color: #192f5d;
}

h1, .h1 {
    font-size: 36px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-weight: 400;
}

.uk-h1, h1 {
    font-size: 2.23125rem;
    line-height: 1.2;
}

*+.uk-h1, *+.uk-h2, *+.uk-h3, *+.uk-h4, *+.uk-h5, *+.uk-h6, *+.uk-heading-2xlarge, *+.uk-heading-large, *+.uk-heading-medium, *+.uk-heading-small, *+.uk-heading-xlarge, *+h1, *+h2, *+h3, *+h4, *+h5, *+h6 {
    margin-top: 40px;
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #333;
    text-transform: none;
}

h1, .h1 {
    font-size: 2.5rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

*, *::before, *::after {
    box-sizing: border-box;
}

@media (max-width: 991px){
    .login-header {
        padding: 7px 15px !important;
    }
}

@media (max-width: 540px){
    .login-header {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 767px){
    h1 {
        font-size: 15px;
        padding: 5px 0;
    }
}